<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/style.css">
    <link rel="stylesheet" href="/static/styles/style_menu.css">
    <link rel="stylesheet" href="/static/styles/style_segments.css">
    <link rel="stylesheet" href="/static/styles/style_welcome.css">
    <link rel="stylesheet" href="/static/styles/style_skills.css">
    <link rel="stylesheet" href="/static/styles/style_exp.css">
    <link rel="stylesheet" href="/static/styles/style_projects.css">
    <link rel="stylesheet" href="/static/styles/style_contact.css">
    <link href="https://fonts.googleapis.com/css2?family=Bitcount&family=Bitcount+Single&family=Megrim&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <title>Eques72 Portfolio</title>
</head>

<body>
    <nav class="menu">
        <img src="/../static/images/eyeA64.png" class="eyeball" width="64" height="64"></img>
        <a href="#welcome" class="nav-link active"><span>Home</span></a>
        <a href="#about" class="nav-link"><span>About me</span></a>
        <a href="#skills" class="nav-link"><span>Skills</span></a>
        <a href="#expirience" class="nav-link"><span>Experience</span></a>
        <a href="#projects" class="nav-link"><span>Portfolio</span></a>
        <a href="#contact" class="nav-link"><span>Contact</span></a>
    </nav>
<!-- TO DO add subtle button at screen bottom to roll to next sections -->

<section id="welcome" class="segment hero">
    <div class="grid grid-1-2-1">
        <div class="card left"> 
            <h2>Current Status</h2>
               <!-- Open for Work -> Call to action -->
        </div>
        <div class="hero-content card center">
            <h1 class="hero-name">Adrian Zaręba</h1>
            <h2 class="hero-title">Software Engeener</h2>
            <h2 class="hero-title">M.Eng. in Computer & Information Science</h2>
            <h2 class="hero-title" style="font-weight: bold;"><br>Good Morning</h2>
            <p class="hero-desc">
                There is <span class="magic-text">certainly</span> a way to do this.
            </p>
        </div>
        <div class="card right">
            <h2>Project at hand</h2>  
        </div>
    </div>
</section>

<section id="about" class="segment">
    <div class="fade-in grid grid-2-3">
        <div class="card">
            <h1>About me</h1>
            <span class="divider"></span>
            <p> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
                totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
        </div>
        <div class="card">
            <h1>Find me here</h1>
            <span class="divider"></span>
            <div class="about-socials">
                <a class="item" href="https://github.com" target="_blank">
                    <img class="icon" src="/../static/images/icons/github_16065963.png" alt="Github"></img>
                </a>       
                <a class="item" href="https://linkedin.com" target="_blank">
                    <img class="icon" src="/../static/images/icons/linkedin_253790.png" alt="LinkedIn"></img>
                </a>             
            </div>
            </div>
        </div>
    </div>
</section>

<section id="skills" class="segment seg_skills">
    <div class="card fade-in">
        <h1>Skills</h1> <!-- DEVELOPMENT ARSENAL -->
        <span class="divider"></span>
        <p>I mainly work on stuff for users, games and backend</h1>
        <div class="skills-grid">
            <div class="skills-col">
                <h3>Programming Languages</h3>
                    <ul class="skills-col-tags">
                        <li class="skills-tags">C++</li>
                        <li class="skills-tags">Pyton</li>
                        <li class="skills-tags">Kotlin</li>
                        <li class="skills-tags">C#</li>
                    </ul>
            </div>

            <div class="skills-col">
                <h3>Tools</h3>
                <ul class="skills-col-list">
                    <li>Git</li>
                    <li>Unity</li>
                    <li>Linux</li>
                </ul>
            </div>

            <div class="skills-col">
                <h3>Frameworks</h3>
                <ul class="skills-col-list">
                    <li>RAG & MCP</li>
                    <li>...</li>
                </ul>
            </div>

            <div class="skills-col">
                <h3>Knowledge</h3>
                <ul class="skills-col-list">
                    <li>Design Patterns</li>
                    <li>Linux</li>
                    <li>TDD & Integration Testing</li>
                    <li>Jira</li>
                </ul>
            </div>
        </div>
        <span class="divider-full"></span>
    </div>
</section>

<section id="expirience" class="segment seg_exp">
    <div class="fade-in">
        <div class="exp-head"> 
            <h1>Expirience</h1>
            <p>Over two years of professional expirience as a software developer, together with practical knowledge from student's activities and Computer Science Studies create a solid knowledgebase, ready for future challenges.</p>
        </div>
        <div class="exp-tabs">
            <div class="exp-tab-2">
                <label for="exp-tab2-1">Expirience</label>
                <input id="exp-tab2-1" name="exp-tabs-two" type="radio" checked>
                <div>
                    <div class="exp-timeline-wrapper">
                        <ul id="exp-timeline">
                            <li>
                                <span></span>
                                <div class="title">Junior C++ Engeener</div>
                                <div class="place">Nokia Networks</div>
                                <div class="descr">Did this and that</div>
                                <div class="time">
                                    <span>Feb 2111</span>
                                    <span>Feb 2101</span>
                                </div>
                            </li>
                            <li>
                                <span></span>
                                <div class="title">Student Council Member</div>
                                <div class="place">Student Science Circle GRID</div>
                                <div class="descr">Did this and that</div>
                                <div class="time">
                                    <span>Feb 2111</span>
                                    <span>Dec 9999</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="exp-tab-2">
                <label for="exp-tab2-2">Education</label>
                <input id="exp-tab2-2" name="exp-tabs-two" type="radio">
                <div>
                    <div class="exp-timeline-wrapper">
                        <ul id="exp-timeline">
                            <li>
                                <span></span>
                                <div class="title">University Student - Master's in Computer Science</div>
                                <div class="place">Silesian University of Technology</div>
                                <div class="descr">A blah blah blah blah blah blah</div>
                                <div class="time">
                                    <span>Mar 2024</span>
                                    <span>Sep 2025</span>
                                </div>
                            </li>
                            <li>
                                <span></span>
                                <div class="title">University Student - Bachelor's in Computer Science</div>
                                <div class="place">Silesian University of Technology</div>
                                <div class="descr">A blah blah blah blah blah blah</div>
                                <div class="time">
                                    <span>Oct 2020</span>
                                    <span>Feb 2024</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>





    </div>
</section>

<section id="projects" class="segment seg_proj">
    <div class="fade-in">
        <h1>Portfolio</h1>
        <span class="divider"></span>
        <div class="carousel-wrapper">
            <div class="radio-input">
                <input type="radio" name="position">
                    <div class="circle"></div> 
                <input type="radio" name="position">
                    <div class="circle"></div> 
                <input type="radio" name="position" checked>
                    <div class="circle"></div>
                <input type="radio" name="position">
                    <div class="circle"></div>
                <input type="radio" name="position">
                    <div class="circle"></div>
            </div>  
            <div class="carousel">
                <div class="project-card">
                    <a href="https://google.com" target="_blank" class="card-image">
                        <img src="/../static/images/placeholder.jpg" alt="Project image">
                        <div class="card-title">Project Title 1</div>
                    </a>
                    <div class="card-content">
                        <span class="divider-line"></span>
                        <p>This is a short description of the project.</p>
                    </div>
                </div>
                <div class="project-card">
                    <a href="https://google.com" target="_blank" class="card-image">
                        <img src="/../static/images/placeholder.jpg" alt="Project image">
                        <div class="card-title">Project Title 1</div>
                    </a>
                    <div class="card-content">
                        <span class="divider-line"></span>
                        <p>This is a short description of the project.</p>
                    </div>
                </div>
                <div class="project-card">
                    <a href="https://google.com" target="_blank" class="card-image">
                        <img src="/../static/images/placeholder.jpg" alt="Project image">
                        <div class="card-title">Project Title 1</div>
                    </a>
                    <div class="card-content">
                        <span class="divider-line"></span>
                        <p>This is a short description of the project.</p>
                    </div>
                </div>
                <div class="project-card">
                    <a href="https://google.com" target="_blank" class="card-image">
                        <img src="/../static/images/placeholder.jpg" alt="Project image">
                        <div class="card-title">Project Title 1</div>
                    </a>
                    <div class="card-content">
                        <span class="divider-line"></span>
                        <p>This is a short description of the project.</p>
                    </div>
                </div>
                <div class="project-card">
                    <a href="https://google.com" target="_blank" class="card-image">
                        <img src="/../static/images/placeholder.jpg" alt="Project image">
                        <div class="card-title">Project Title 1</div>
                    </a>
                    <div class="card-content">
                        <span class="divider-line"></span>
                        <p>This is a short description of the project.</p>
                    </div>
                </div>
            </div>
            <div class="carousel-controls">
                <div class="carousel-button" onclick="prev()"><span class="arrow left"></div>
                <div class="carousel-button" onclick="next()"><span class="arrow right"></div>
            </div>
        </div>
        <span class="divider-full"></span>
    </div>
</section>

<section id="contact" class="segment">
    <div class="fade-in grid grid-3-2">
        <div class="card">
            <h1>Contact Info</h1>
            <span class="divider"></span>
            <div class="direct-contact-container">
                <ul class="contact-list">
                <li class="list-item">
                    <i class="fa-solid fa-map-marker fa-xl"></i>
                    <span class="contact-text place">Lesser&nbsp;Poland&nbsp;Poland</span>
                </li>                        
                <li class="list-item">
                    <i class="fa-solid fa-envelope fa-xl"></i>
                    <span class="contact-text mail"><a href="mailto:#" title="Send me an email">adrian.zareba842@proton.me</a></span>
                </li>
                </ul>
            </div>
            <span class="divider-full"></span>
        </div>
        <div class="card">
            <h1>Get In Touch</h1>
            <span class="divider"></span>    
                <form id="contact-form" class="form-horizontal" role="form">
                    <div class="form-group">
                        <div class="col-sm-12">
                        <input type="email" class="form-control" id="email" placeholder="EMAIL" name="email" value="" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                        <input type="text" class="form-control" id="subject" placeholder="SUBJECT" name="subject" value="" required>
                        </div>
                    </div>
                    <textarea class="form-control" rows="6" placeholder="MESSAGE" name="message" required></textarea>                    
                    <button class="btn btn-primary send-button" id="submit" type="submit" value="SEND"><p>SEND MESSAGE</p></button>
                </form>
            <span class="divider-full"></span>
        </div> 
    </div>
</section>

<footer>
  <p>Copyright &copy; 2026 Adrian Zaręba. All Rights Reserved.</p>
</footer>

</body>

<script src="/static/js/navigation.js"></script>
<script src="/static/js/fade.js"></script>
<script src="/static/js/submit.js"></script>
</html>