<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>Personal Site</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<section class="segment seg1">
    <div class="content">
        <h1>Welcome</h1>
        <p>Portfolio of Adrian Zaręba</p>
    </div>
</section>

<section class="segment seg2">
    <div class="content">
        <h1>Projects</h1>
        <p>Some of my work</p>
    </div>
</section>

<section class="segment seg3">
    <div class="content">
        <h1>About me</h1>

        <div class="buttons">
            <a href="https://github.com"><button>GitHub</button></a>
            <a href="https://www.rust-lang.org"><button>Rust</button></a>
        </div>
    </div>
</section>

<section class="segment seg4">
    <div class="content">
        <h1>Contact</h1>
        <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/d1uraoHM8Gg"
            frameborder="0"
            allowfullscreen>
        </iframe>
    </div>
</section>

</body>

<!-- 
<body>

<h1>My Rust Website</h1>

<p>This site runs using Axum and SQLite.</p>

<p>Visitors: <b>{{counter}}</b></p>

<div class="buttons">

<a href="https://github.com">
<button>GitHub</button>
</a>

<a href="https://www.rust-lang.org">
<button>Rust</button>
</a>

</div>

<h2>Embedded content</h2>

<iframe width="560" height="315"
src="https://www.youtube.com/embed/d1uraoHM8Gg"
frameborder="0"
allowfullscreen>
</iframe>

</body> -->

</html>