.exp-timeline {
    position: relative;
    max-width: 60rem;
    margin: 3rem auto;
    padding: 2rem 0;
}

.exp-timeline::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 0.25rem;
    height: 100%;
    background: var(--button-active-color);
    transform: translateX(-50%);
}

.exp-block {
    position: relative;
    /* width: 100%; */
    width: clamp(18rem, 100%, 45rem);
    padding: 1.5rem 2.5rem;
    box-sizing: border-box;
}

.exp-block:nth-child(odd) {
    left: -40%;
    text-align: right;
}

.exp-block:nth-child(even) {
    left: 50%;
    text-align: left;
}

.exp-content {
    background: var(--button-hover-color);
    padding: 1rem;
    border-radius: 0.7rem;
    position: relative;
    transition: background 0.5s ease;
}

.exp-content:hover {
    background: var(--button-active-color);
}

.exp-date {
    position: absolute;
    top: 1.5rem;
    font-size: 1.5rem;
    color: var(--text-color);
    white-space: nowrap;
}

.exp-block:nth-child(odd) .exp-date {
    right: -35%;
    left: auto;
    text-align: left;
}

.exp-block:nth-child(even) .exp-date {
    left: -35%;
    right: auto;
    text-align: right;
}

.exp-block::before {
    content: "";
    position: absolute;
    top: 1.5rem;
    width: 1rem;
    height: 1rem;
    background: var(--button-hover-color);
    border: 0.2rem solid var(--button-active-color);
    border-radius: 50%;
    z-index: 1;
    transition: background 0.5s ease;
}

.exp-block:hover::before {
    background: var(--button-active-color);
}

.exp-block:nth-child(odd)::before {
    right: -0.65rem;
}

.exp-block:nth-child(even)::before {
    left: -0.65rem;
}

@media (max-width: 48rem) {
    .exp-timeline::before {
        left: 1.5rem;
    }

    .exp-block {
        width: 100%;
        padding-left: 3.5rem;
        padding-right: 1rem;
    }

    .exp-block:nth-child(even),
    .exp-block:nth-child(odd) {
        left: 0;
        text-align: left;
    }

    .exp-block:nth-child(odd)::before,
    .exp-block:nth-child(even)::before {
        left: 0.85rem;
        right: auto;
    }

    .exp-block:nth-child(even) .exp-date,
    .exp-block:nth-child(odd) .exp-date {
        position: static;
        display: block;
        margin-top: 0.5rem;
        text-align: left;
    }
}