.segment {
    height: auto;
    min-height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.seg_proj {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.seg_exp {
    margin-bottom: 0;
}
