.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20%;
}

.hero-name {
    font-family: 'Bitcount', serif;
    font-size: 64px;
    margin: 0;
}

.hero-title {
    font-family: 'Megrim', sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin: 10px 0;
    color: var(--text-color);
}

.hero-desc {
    font-family: 'Bitcount Single', sans-serif;
    font-size: 16px;
    font-weight: 300;
    max-width: 500px;
    margin: 0 auto 20px;
    color: var(--text-color);
    text-align: center;
}

.hero-content {
    position: relative;
}

/* .hero-content > *:last-child {
    margin-bottom: 0;
}
.hero-content > * {
    margin-bottom: 12px;
} */

.status-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.status-card h2{
    align-self: flex-start;
    margin: 0;
    margin-bottom: 5px;
}

.wip-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.wip-card h2{
    align-self: flex-start;
    margin: 0;
    margin-bottom: 5px;
}

.sf-indicator {
    --sf-indicator-size: 12px;
    --sf-indicator-green: #0bbf0b;
    align-self: flex-start;
    font-size: 1.2rem;
}

.sf-indicator {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
    margin-left: 5px;
}

.sf-indicator .status-dot {
    width: var(--sf-indicator-size);
    height: var(--sf-indicator-size);
    border-radius: 50%;
    position: relative;
}

.sf-indicator .status-dot::before,
.sf-indicator .status-dot::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: sf-indicator-pulse 2s infinite linear;
    opacity: 0.3;
}

.sf-indicator .status-dot::after {
    animation-delay: 1s;
}

@keyframes sf-indicator-pulse {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.6;
    }
    100% {
        transform: translate(-50%, -50%) scale(2.5);
        opacity: 0;
    }
}

.status-green { background-color: var(--sf-indicator-green); }

@property --gap{
    syntax: '<length>';
    inherits: true;
    initial-value: 0;
}
@property --angle{
    syntax: '<angle>';
    inherits: true;
    initial-value: 0deg;
}

.framed-img {
    --border: 10px;
    --gap: 8px;
    --color: #FA6900;

    width: 55%;
    aspect-ratio: 1;
    box-sizing: border-box;
    border-radius: 50%;
    padding: calc(var(--border) + var(--gap));

    --angle: 90deg;
    background:
    radial-gradient(farthest-side,var(--color) 97%,#0000 101%) 85.35% 85.35%,
    conic-gradient(from calc(180deg - var(--angle)/2),#0000 var(--angle),var(--color) 0),
    radial-gradient(farthest-side,var(--color) 97%,#0000 101%) 14.65% 85.35%;
    background-size: var(--border) var(--border),auto;
    background-repeat: no-repeat;

    -webkit-mask:
    radial-gradient(farthest-side, 
        #000  calc(99%  - calc(var(--border) + var(--gap))),
        #0000 calc(100% - calc(var(--border) + var(--gap))) 
            calc(99%  - var(--border)), 
        #000  calc(100% - var(--border)));
            mask:
    radial-gradient(farthest-side, 
        #000  calc(99%  - calc(var(--border) + var(--gap))),
        #0000 calc(100% - calc(var(--border) + var(--gap))) 
            calc(99%  - var(--border)), 
        #000  calc(100% - var(--border)));
    transition: --angle .4s,--gap .4s;
}

.framed-img:hover {
    --angle: 0deg;
    --gap: 5px;
}

.location {
    position: absolute;
    top: 0;
    right: 0;
    margin: calc(var(--spacing)*2);
    display: flex;
    align-items: center;
    gap: calc(var(--spacing));
}

.location span{
    padding-top: 8px;
}

.wip-text h3{
    margin: 0;
}

.wip-text p{
    margin: 0;
}