.exp-tabs {
  display: block;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  overflow: hidden; }
  .exp-tabs [class^="exp-tab"] label,
  .exp-tabs [class*=" exp-tab"] label {
    color: #efedef;
    cursor: pointer;
    display: block;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1em;
    padding: 2rem 0;
    text-align: center; }
  .exp-tabs [class^="exp-tab"] [type="radio"],
  .exp-tabs [class*=" exp-tab"] [type="radio"] {
    border-bottom: 1px solid rgba(239, 237, 239, 0.5);
    cursor: pointer;
    appearance: none;
    display: block;
    width: 100%;
    transition: all 0.3s ease-in-out; }
    .exp-tabs [class^="exp-tab"] [type="radio"]:hover, .tabs [class^="exp-tab"] [type="radio"]:focus,
    .exp-tabs [class*=" exp-tab"] [type="radio"]:hover,
    .exp-tabs [class*=" exp-tab"] [type="radio"]:focus {
      border-bottom: 1px solid #fd264f; }
    .exp-tabs [class^="exp-tab"] [type="radio"]:checked,
    .exp-tabs [class*=" exp-tab"] [type="radio"]:checked {
      border-bottom: 2px solid #fd264f; }
    .exp-tabs [class^="exp-tab"] [type="radio"]:checked + div,
    .exp-tabs [class*=" exp-tab"] [type="radio"]:checked + div {
      opacity: 1; }
    .exp-tabs [class^="exp-tab"] [type="radio"] + div,
    .exp-tabs [class*=" exp-tab"] [type="radio"] + div {
      display: block;
      opacity: 0;
      padding: 2rem 0;
      width: 90%;
      transition: all 0.3s ease-in-out; }
  .exp-tabs .exp-tab-2 {
    width: 50%; }
    .exp-tabs .exp-tab-2 [type="radio"] + div {
      width: 200%;
      margin-left: 200%; }
    .exp-tabs .exp-tab-2 [type="radio"]:checked + div {
      margin-left: 0; }
    .exp-tabs .exp-tab-2:last-child [type="radio"] + div {
      margin-left: 100%; }
    .exp-tabs .exp-tab-2:last-child [type="radio"]:checked + div {
      margin-left: -100%; }

.exp-timeline-wrapper{
    margin: 0;
    overflow: hidden;   
    padding: 0 0 0 60px
}

.exp-timeline-wrapper ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    top:0
}

.exp-timeline-wrapper ul:before{
    content: "";
    display: block;
    width: 0;
    height: 100%;
    border:1px dashed #fff;
    position: absolute;
    top:0;
    left:30px
}

.exp-timeline-wrapper ul li{
    margin: 20px 20px 60px 60px;
    position: relative;
    padding: 10px 10px; 
    background:rgba(255, 43, 43, 0.388);
    color:#fff;
    border-radius: 14px;
    line-height: 35px;
}


.exp-timeline-wrapper ul li > span{
    content: "";
    display: block;
    width: 0;
    height: 100%;
    border:1px solid #fff;
    position: absolute;
    top:0;
    left:-30px
}

.exp-timeline-wrapper ul li > span:before,.exp-timeline-wrapper ul li > span:after{
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background:#ff6d6d;
    border:2px solid #fff;
    position: absolute;
    left:-7.0px
}

.exp-timeline-wrapper ul li > span:before{top:-10px}
.exp-timeline-wrapper ul li > span:after{top:95%}

.exp-timeline-wrapper .title{
    font-weight: 700;
    margin-bottom: 5px
}

.exp-timeline-wrapper .place{
    font-weight: 600;
    margin-bottom: 5px
}

.exp-timeline-wrapper .descr:first-letter{text-transform: capitalize;line-height: 1.7}

.exp-timeline-wrapper .time span{
    position: absolute;
    left: -115px;
    color:#fff;
    font-size:95%;
    font-weight: bold;
}
.exp-timeline-wrapper .time span:first-child{top:-19px}
.exp-timeline-wrapper .time span:last-child{top:89%}