:root
{
    --welcome-bck-color: #ede9e2;
    --about-bck-color: #EFE9E3;
    --skills-bck-color: #e4dcd5;
    --exp-bck-color: #D9CFC7;
    --proj-bck-color: #d1c2b1;
    --contact-bck-color: #C9B59C;
    --text-color: white;
    /* rgb(10, 10, 10); */
    --button-color: #D1D8BE;
    --button-hover-color: #A7C1A8;
    --button-active-color: #819A91;

    --background-color-top: #0d1d0c;
    --background-color-bottom: #030303;
    --accent-color: #280f2a;
    /* --background-color-top: #112a0f;
    --background-color-bottom: #0b0e0b; */
    font-size: 16px;
    --spacing: 0.25rem;
    --media-vertical: 800px;
}

html, body {
    padding: 0;
    font-family: 'Bitcount Single', Arial;
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color-top);
    box-sizing: border-box;
    background-image: radial-gradient(circle,rgba(255, 255, 255, 0.25) 2px,transparent 0px),linear-gradient(to bottom,var(--background-color-top),var(--background-color-bottom));
    background-size: 40px 40px,auto;
    color: var(--text-color);
    background-attachment: fixed;
    
    position: relative;
    display: flex;
    flex-direction: column;

    overflow-x: hidden;
    align-items: center;
    justify-content: center
}

h1 {
    font-family: 'Megrim', sans-serif;
    color: var(--text-color);
}

p {
    font-family: 'Bitcount Single', sans-serif;
    text-align: justify;
    color: var(--text-color);
}

.buttons button {
    padding: 10px 18px;
    margin: 8px;
    border: none;
    background: white;
    cursor: pointer;
}

.buttons button:hover {
    /* background: #1a5fc1; */
}

section{
    max-width: 70%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.content {
    text-align: center;
    /* margin-top: 15%; */
     /* TO DO remove arbitrary numbers */
}

.fade-in {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 1.5s ease-out, transform 1.0s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

.grid
{
    display: grid;
    column-gap: calc(var(--spacing)*15);
    row-gap: calc(var(--spacing)*5);

    /* gap: 1.5rem; */
    width: 100%;
    /* align-items: stretch; */
    /* grid-template-columns: repeat(2,minmax(0,1fr)) */
}

.grid-2-c
{
    grid-template-columns: repeat(2,minmax(0,1fr));
}
.grid-2-3
{
    grid-template-columns: 2fr 1fr;
}

.grid-1-2-1
{
    grid-template-columns: 1fr 2fr 1fr;    
}

@media (max-width: 800px) {
    .grid-2-3 {
        grid-template-columns: 1fr;
    }
}

.box {
    align-items: center;
    justify-content: center;
    flex: 1;
    min-width: 0;
    overflow: hidden; 
    display: block;
    /* border-radius: 20px;
    background: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.15); */
}
.box > * {
    flex: 1;
}

/* .card
{
    min-width: 0;
    display: block;
    box-sizing: border-box;
    width: 100%;

    padding: 3rem;
    background: linear-gradient(60deg, #101010eb, #021905eb, #101010eb);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3),
                0 0 40px rgba(200, 200, 200, 0.2),
                0 0 60px rgba(180, 180, 180, 0.2);
    border-radius: 1%;
} */

.card {

    min-width: 0;
    display: block;
    box-sizing: border-box;
    width: 100%;
    

  --grad: red, blue;
  padding: 2.5rem;
  background-image: linear-gradient(60deg, #101010, #001603, #101010);
  border-radius: 2rem;
  gap: 1.5rem;
  /* display: grid; */
  /* grid-template: 'title icon' 'content content' 'bar bar' / 1fr auto; */
  /* font-family: system-ui, sans-serif; */
  box-shadow: 
    inset -3px 3px hsl(0, 0%, 2%),
    -20px 20px 40px hsla(0, 0%, 100%, 0.25) ;
  

    p
    {
    grid-area: content;
    & > *:first-child { margin-top: 0rem}
    & > *:last-child { margin-bottom: 0rem}
    }
      p::after {
    content: "";
    grid-area: bar;
    height: 2px;
    background-image: linear-gradient(90deg, var(--grad));
/*     margin-inline: -1.5rem; */
  }
}



/* .card:last-child {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
} */

.card p {
    line-height: 1.6;
    word-wrap: break-word;
}

.divider
{
    display: block;
    margin: 30px 0;
    width: 25%;
    height: 2px;
    background-color: #81109d
}

.divider-full
{
    display: block;
    margin: 30px 0;
    width: 100%;
    height: 2px;
    background-image: linear-gradient(90deg, #81109d, #0a0daa);
}


.icon{
    /* height: 55px; */
    filter: invert(1);
    width: 80%;
    height: 80%;
    object-fit: contain;
    
    transition: 0.4s;
}

.icon:hover
{
    filter: invert(0.1);
    width: 100%;
    height: 100%;
}

.item{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 10px;

    width: 35%;
    aspect-ratio: 1 / 1;
    
    padding: 1rem;
    background-color: var(--accent-color);
    transition: 0.4s;
    border-radius: 50%;
}

.item:hover
{
    background-color: #112a0f;
}

.about-socials
{
    display: grid;
    grid-auto-flow: column;
    list-style: none;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: fit-content;
    column-gap: calc(var(--spacing)*5);
}

/* .icon
{
    max-width: 100%;
    max-height: 100%;

    width: auto;
    height: auto;

    object-fit: contain;

} */
